# ----------------------------
# Python
# ----------------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# ----------------------------
# Node / Frontend
# ----------------------------
node_modules/
dist/
build/
.vite/

# ----------------------------
# Env files (IMPORTANT)
# ----------------------------
.env

# ----------------------------
# OS / Editor junk
# ----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ----------------------------
# Logs
# ----------------------------
*.log